// bower:scss
// endbower

@import
	"settings",
	"components/mixins",
	"components/colors",
	"components/type",
	"components/inputs",
	"components/content",
	"components/nav",
	"components/test",
	"components/intro",
	"components/article",
	"components/film",
	"components/audioPlayer",
	"components/page-header";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

canvas {
	// z-index:0;
	top:0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  overflow:hidden;
  background: $black;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Space out content a bit */
html {}

body {
	background:transparent;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.off-canvas-wrap {
	position:absolute;
	top:0;
	bottom:0;
}

.off-canvas-wrap, .inner-wrap {
	height:100%;
}

.inner-wrap {
	height:100%;
}

#particle-js {
	height:100%;
	width:100%;
}

canvas {
	z-index:-1;
	position:fixed;
	top:50px;
	left:0;
	@media #{$medium-up} {position:fixed;left:130px;}
	@media #{$large-up} {left:170px;}
	@media #{$xlarge-up} {left:190px;}
}
