* {
   // border: 1px solid red !important;
}

a:hover {
	cursor: pointer;
}


.audio-player-wrapper {
	box-sizing:border-box;
	height:100px;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background:$black + 10;
	opacity:0.97;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	box-shadow:0 0 10px rgba(0,0,0,0.5);

	@media #{$medium-up} {
		// border: 1px solid $red;
		background:transparent;
		box-shadow:none;
		height:60px;
	}
	@media #{$large-up} {

	}
}

.audio-track-details {
	text-align:center;
	width:100%;
	overflow:hidden;
	padding:.2rem 0;
	// border: 1px solid red !important;
	@media #{$medium-up} {
		position:absolute;
		bottom:0;
		left:120px;
		height:100%;
		// padding-left:120px;
		// display:inline-block;
		// width:500px;
		width: calc(100% - 120px);
	}
	@media #{$large-up} {
		left:160px;
		width: calc(100% - 160px);
	}



	progress {
		width:100%;
		background:$gray;
		// display:block;
		margin:.2rem 0 .4em;
		// border: 1px solid red !important;

		@media #{$medium-up} {
			margin-bottom:0;
		}
	}

	progress:focus, .audio-btn:focus, a:focus{
		-webkit-appearance:none;
		outline:none;
	}

	h3 {
		margin:.5rem .3rem .2rem;
		font-weight:200;
		color: $white;
		font-size: 1rem;
		// border: 1px solid red !important;
		@media #{$medium-up} {
			text-align:left;
			padding-left:1rem;
		}
		@media #{$large-up} {

		}

	}
}



.audio-player-ctrls {
	width:100%;
	background: $black;
	-webkit-box-shadow:0 0 12px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 12px rgba(0,0,0,0.3);
	box-shadow:0 0 12px rgba(0,0,0,0.3);
	// border: 1px solid red !important;

	@media #{$medium-up} {
		// border: 1px solid red !important;
		width: 120px;
		height:100%;
	}
	@media #{$large-up} {
		width:160px;
	}

	.play-btn {
		@media #{$medium-up} {
		width: 120px;
		}
		@media #{$large-up} {
		width:160px;
	}



	}
	.button-group {
		height:100%;
		// border:1px solid white;
	}
	.button-group.even-3 li .button {
		border-color: $black - 10;
		padding:.8rem .6rem .6rem;

		@media #{$medium-up} {
			// border:1px solid blue;
			height:60px;
			margin:0;


		}
		@media #{$large-up} {

		}


	}
	.button {
		margin-bottom:0;
	}
}

.audio-btn, .audio-btn:hover, .audio-btn:focus {
	background:transparent;
	-webkit-appearance:none;
	outline:none;

	svg.plangular-icon-previous, svg.plangular-icon-next, svg.plangular-icon-play, svg.plangular-icon-pause {
		@media #{$medium-up} {
			vertical-align:middle;
			height:100%;
		}
	}
	svg.plangular-icon-previous, svg.plangular-icon-next {
		fill: $gray;
		opacity: 1;
		@media #{$medium-up} {
			width:0.6rem;
		}

	}
	svg.plangular-icon-play, svg.plangular-icon-pause {
		fill: $white;

	}
}

.audio-btn:hover svg{}


.plangular-icon {
	height:1em;
	width:1em;
}


.player-control {
	// border: 1px solid red !important;

	li a {
		margin-bottom:0;
	}
}


.track-time {
	font-size: .8em;
	font-weight:200;
	border: 1px solid red !important;
}

ul.track-list li:hover {
	background:$black + 10;

}

ul.track-list li.darken {
	background:$black - 10;
	a {
		color: $white;
	}
}


ul.track-list {
	list-style:none;
	padding:0;
	margin:0;
	padding-bottom:120px;

	li {
		transition: .3s ease-in;
		border-bottom: 1px solid $black - 5;
		.plays {
			font-size:.8em;
		}

		a {
			display:block;
			padding:.8em;
			color: $gray;
		}
	}
	li:first-child {
		border-top:1px solid $black - 5;
	}
}

