.intro-animation {
	display:block;
	text-align:center;

	@media #{$medium-up} {
		padding: 5% 10%;

	}
	@media #{$large-up} {
		padding: 2% 10%;

	}


}



#intro-logo {
	// border: 1px solid blue !important;

	.intro-globe {
		fill: $red;
	}

	.intro-man {
		fill: $black;
	}

	.intro-text {
		fill: $white;
		text-align: center;
		margin:0 auto;
		animation: intro-text 3s ease-in initial;
		-webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
		// -webkit-animation: intro-text 3s ease infinite;
	}

	@media #{$medium-up} {
		width:100%;
		max-width:650px;
	}

	@media #{$large-up} {
		max-width:60%;
		margin-left:15%;
	}

	@media #{$xlarge-up} {
		padding-left:190px;
	}
}

@keyframes intro-text {
  0%   {opacity: 0}
  50%  {opacity: .5}
  100% {opacity: 1}
}

hr.dark {
	background:$black;
	color: $black;
	border-top:$gray;
}