// small nav
.nav-marker {
	height:30px;
	width:21px;
	margin-top:-2px;
	margin-left:10px;
	// -webkit-transform:rotate(-90deg);
}

.side-nav li {
	margin:0;
	border-top:1px dotted $black;
	text-align:right;
}

.side-nav li:last-of-type {
	border-bottom:1px dotted $black;
}

ul.off-canvas-list li a {
	padding:.8em 0;
	padding-left:1.5em;
}

ul.side-nav li a:not(.button) {

	color: $white;
	@media #{$medium-up} {
		padding:1em 0;
		padding-right:1.5em;
	}
	@media #{$large-up} {
		padding:1em 0;
		padding-right:1.5em;
	}
	@media #{$xlarge-up} {
		padding:1em 0;
		padding-right:2em;
	}
}

/////////////////////////////////////////
// large
////////////////////////////////////////
nav#mainMenu {
	padding:0;
}
#mainMenu {
	position:absolute;
	height:100%;
	background:#313131;
	border-right:1px solid #212121;
	@media #{$medium-up} {width:120px; z-index:10;}
	@media #{$large-up} {width:160px;}
	@media #{$xlarge-up} {width:180px;}
}

.logo {
	margin-top:5px;
	width:180px;
	height:45px;
	display:block;
	margin:0 auto;
	fill: $black;
	fill: $red;
	fill: $white;
	opacity: 0.7;

	@media #{$medium-up} {width:100px;height:120px;}
	@media #{$large-up} {width:140px;height:160px;}
	@media #{$xlarge-up} {}
}