.svgs {
	display:none;
}
nav.tab-bar.show-for-small {
	z-index:1;
}

// small nav
.tab-bar {
	height:3.3rem;
	background:transparent;
	// border: 1px solid red !important;

	.left-small {
		width:3.3rem;
		height:3.3rem;
		border:none;
		// border: 1px solid red !important;
	}
}

.nav-marker {
	height:100%;
	width:100%;
	padding:8px;
	fill: $gray;
	// -webkit-transform:rotate(-90deg);
	// border: 1px solid red !important;
}

.side-nav li {
	margin:0;
	border-top:1px solid $black;
	text-align:right;
	// border: 1px solid red !important;
}

.side-nav li:last-of-type {
	border-bottom:1px solid $black;
}

ul.off-canvas-list li a {
	padding:.8em 0;
	padding-left:1.5em;
	border-bottom:1px solid $black - 10;
	color:#000;
}


ul.off-canvas-list li a:active {
	border-right: 3px solid $red;
	color: $red;
	margin-right:3px;
}



.move-right .exit-off-canvas {
	background: $black - 20;
	opacity: .5;
}


/////////////////////////////////////////
// large nav menu
////////////////////////////////////////
nav#mainMenu {
	padding:0;
}
#mainMenu {
	position:absolute;
	height:100%;
	background:$black;
	border-right:1px solid $black - 10;
	@media #{$medium-up} {width:120px; z-index:10;}
	@media #{$large-up} {width:160px;}
	@media #{$xlarge-up} {width:180px;}

	// @include horizontal-gradient($black + 8, $black + 5);
}

ul.side-nav {
	padding:0;
}
ul.side-nav li a:not(.button) {
	color: $gray;
	@media #{$medium-up} {
		padding:0;
		border-right:2px solid $black;

		// border-color:$black;
		// padding:1em 0;
		// padding-right:1.5em;
		// border-right:2px solid $black;
		-webkit-transition: border 0.5s ease;
		transition: border 0.5s ease;
	}
	@media #{$large-up} {
		// padding:1em 0;
		// padding-right:1.5em;
	}
	@media #{$xlarge-up} {
		// padding:1em 0;
		// padding-right:2em;
	}
}

ul.side-nav li a:not(.button):active, ul.side-nav li a:not(.button):hover{
	color: $red;
	border-color:$red;

}




.logo {
	width:180px;
	height:100%;
	display:block;
	margin:0 auto;
	margin-top:4px;
	fill: $gray;
	// border: 1px solid red !important;

	@media #{$medium-up} {width:100px;height:120px;}
	@media #{$large-up} {width:140px;height:160px;}
	@media #{$xlarge-up} {}
}

svg#tnt-logo-vert {
	width:100%;
}
#tnt-logo-vert {
	display:block;
	margin:0 auto;
	@media #{$medium-up} {}
	@media #{$large-up} {}
	@media #{$xlarge-up} {}
}

.st0, .st2 {
	fill: $gray;
}
.st1 {
	fill: $black;
}

.st10 {
	fill:$red;
}
.st11 {
	fill: $red;
	opacity: .4;
}