// small nav
.tab-bar {
	height:3.3rem;
	background:transparent;
	// background:blue;

	.left-small {
		width:3.3rem;
		height:3.3rem;
		border:none;
	}
}

.nav-marker {
	height:30px;
	width:21px;
	margin-top:5px;
	margin-left:13px;
	// -webkit-transform:rotate(-90deg);
}

.side-nav li {
	margin:0;
	border-top:1px solid $black;
	text-align:right;
}

.side-nav li:last-of-type {
	border-bottom:1px solid $black;
}

ul.off-canvas-list li a {
	padding:.8em 0;
	padding-left:1.5em;
}

ul.side-nav li a:not(.button) {

	color: $white;
	@media #{$medium-up} {
		padding:1em 0;
		padding-right:1.5em;
	}
	@media #{$large-up} {
		padding:1em 0;
		padding-right:1.5em;
	}
	@media #{$xlarge-up} {
		padding:1em 0;
		padding-right:2em;
	}
}

/////////////////////////////////////////
// large
////////////////////////////////////////
nav#mainMenu {
	padding:0;
}
#mainMenu {
	position:absolute;
	height:100%;
	background:#313131;
	border-right:1px solid #212121;
	@media #{$medium-up} {width:120px; z-index:10;}
	@media #{$large-up} {width:160px;}
	@media #{$xlarge-up} {width:180px;}
}

.logo {
	// margin-top:5px;
	// margin:10px 0;
	width:180px;
	height:100%;
	display:block;
	margin:0 auto;
	margin-top:4px;
	fill: $black;
	fill: $red;
	fill: $white;
	// opacity: 0.7;

	@media #{$medium-up} {width:100px;height:120px;}
	@media #{$large-up} {width:140px;height:160px;}
	@media #{$xlarge-up} {}
}