<!-- <div class="row">
	<div ng-controller="AdminNavCtrl" class="form-wrapper">
		<form ng-submit="submitPost()">
			<div class="row">
				<div class="medium-12 columns">
				</div>
				<div class="medium-6 columns">
					<input type="text" ng-model="post.title" placeholder="Title" />
					<input type="text" ng-model="post.author" placeholder="Author"/>
					<input type="text" ng-model="post.authorLink" placeholder="authorLink"/>
				</div>
				<div class="medium-6 columns">
					<textarea row="4" columns="20" type="text" ng-model="post.body" placholder="text"></textarea>
					<input type="submit" value="Add Post" />
				</div>
			</div>
		</form>
		<div ng-show="authData">
		      <p>Hello, {{ authData.password.displayName }}</p>
		      <button ng-click="auth.$unauth()">Logout</button>
		    </div>
		    <div ng-hide="authData">
		      <p>Welcome, please log in.</p>
		      <button ng-click="auth.$authWithOAuthPopup('password')">Login</button>
		    </div>
	</div>
</div> -->



