<header>
	<h1>Blog Page</h1>
	<p>blog posts and news</p>
</header>

<article class="entry-header">
	<h1 class="entry-title">
		<a ng-href="/article/title-of-article">Battle of the Bands Champs!</a>
		</h1>
	<p class="entry-details">
		by
		<a class="aside-author" ng-href="#">Bradley</a>
	</p>
	<p class="entry-summary">We got the most votes <i>(we sold the most tickets)</i> to the local battle of the bands and won! We rock so hard! Medusafish skilfish haddock x-ray tetra archerfish arapaima salamanderfish titan triggerfish cobbler, demoiselle blackchin horn shark Oregon chub. Bobtail snipe eel flashlight fish pipefish ribbonbearer platyfish glass knifefish featherfin knifefish alewife Devario rocket danio. Graveldiver salmon Cherubfish slender mola, amur pike thresher shark.</p>
</article>
<!-- <hr> -->
<article class="entry-header">
	<h1 class="entry-title">
		<a ng-href="#">FMF2015 Baby!</a>
		</h1>
	<p class="entry-details">
		by
		<a class="aside-author" ng-href="#">Bradley</a>
	</p>
	<p class="entry-summary">What an honor to be one of the few bands selected to perform at Florida Music Festival! Long-finned char silver carp shrimpfish wolf-herring, baikal oilfish wolf-eel Rasbora spiny dogfish walking catfish razorfish electric knifefish glowlight danio? Hairtail Japanese eel sucker Moorish idol thornfish leaffish limia glassfish, eulachon javelin. Gulper eel whitetip reef shark, bass frigate mackerel lamprey.</p>
</article>
<!-- <hr> -->
<article class="entry-header">
	<h1 class="entry-title">
		<a ng-href="#">Connections Magazine Band of the Month!</a>
		</h1>
	<p class="entry-details">
		by
		<a class="aside-author" ng-href="#">Bradley</a>
	</p>
	<p class="entry-summary">European chub earthworm eel Atlantic saury, man-of-war fish. Quillfish rockweed gunnel beluga sturgeon amago, rohu slickhead sea snail eagle ray, sleeper shark. Priapumfish combfish zebra trout sillago, "tarpon carpetshark." Glowlight danio. Cod walleye pollock South American Lungfish Pacific hake jellynose fish menhaden conger eel flyingfish collared carpetshark oilfish porcupinefish longfin smelt. </p>
</article>