
	<header>
		<p>Shoot us a message to talk to us in real life. Also, sign up for our mailing list if you dont mind!</p>
	</header>
	<div class="form-wrapper">
		<!-- <form>
		    <div>
		      <label class="">
		        <input type="text" class="" ng-model="Name" placeholder="Name" />
		      </label>
		    </div>
		    <div>
		      <label>
		        <input type="text" ng-model="Email Address" placeholder="Email Address" />
		      </label>
		    </div>
		    <div>
		      <label>
		        <textarea type="text" placeholder="Message..." ng-model="Whats up?"></textarea>
		      </label>
		    </div>

		</form> -->
	</div>