<header>
	<h1>Contact Page</h1>
	<p>contact form submission that emails person, brad and puts info on mailing list.</p>
</header>
<form>
  <!-- <div class="row"> -->
    <div class="large-6 columns">
      <label class="error">Error
        <input type="text" class="error" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
    <div class="large-6 columns error">
      <label>Another Error
        <input type="text" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
    <div class="large-12 columns error">
      <label>Another Error
        <textarea type="text" placeholder="Message..."></textarea>
      </label>
      <small class="error">Invalid entry</small>
    </div>
 <!--  </div> -->
</form>