<header>
	<h1>Film Page</h1>
	<p>shows a list of music videos. click on music video will play video in main content area.</p>
</header>



<!-- <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing> -->
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 film-gallery">

		<li class="card video-card" ng-repeat="film in films">
			<a target="_blank" href="{{film.videoUrl}}">
				<h4>{{film.title}}</h4>
				<img data-caption="{{film.title}}" src="{{film.imgUrl}}">
			</a>
		</li>
	</ul>
