<div class="intro-animation">
	<svg id="intro-logo" xmlns="http://www.w3.org/2000/svg" viewBox="50 50 100 100" enable-background="new 50 50 100 100">
			<g id="intro-animation">
				<circle id="globe" class="st10" cx="100" cy="100" r="40">
					<animate
		    			attributeName="fill"
		    			values="#de3141; #BE1E2D; #de3141;"
		    			dur="10s"
		    			repeatCount="indefinite"/>
					</circle>
					<!-- <path id="face">
						<animate
			    			attributeName="fill"
			    			values="#8e1f22; #f9fcea; #bcbdc0; #231f20; #231f20; #8e1f22; "
			    			dur="5s"
			    			repeatCount="indefinite"/>
					</path> -->

				</g>
				<use xlink:href="#globe" transform="translate(0 0)"/>
				<!-- <use xlink:href="images/face.png" transform="translate(0 0)"/> -->

	</svg>
		<!-- <img src="images/face.png" alt="" transform="translate(0,0)"> -->
		<h2>The Night Thief</h2>
</div>
<ul class="track-list">
			<li ng-repeat="song in songs" plangular="{{song}}" ng-class="{ 'darken': player.playing == track }">
				<a ng-click="playPause($index)">
					<span class="mr1">
						<img src="http://placehold.it/100x100/000000" ng-src="{{ track.artwork_url  }}" alt="{{ title || '&nbsp;' }} by {{ track.user.username }}" />
					</span>
					<span class="track-title">{{ title }}</span>
					<br>
				</a>
			</li>
		</ul>