<div class="row">

	<div class="medium-10 medium-offset-1 columns">
		<header>
			<h2>Enter</h2>
		</header>
	</div>
</div>
<div class="row">

	<div class="medium-8 medium-offset-1 columns">

		<form>
			<label>
				<!-- <span>email</span> -->
				<input type="text" ng-model="email" placeholder="email"/>
			</label>
			<label>
				<!-- <span>password</span> -->
				<input type="password" ng-model="pass" placeholder="passcode" />
			</label>
			<label ng-cloak ng-show="createMode">
				<span>confirm pass</span>
				<input type="password" ng-model="confirm" />
			</label>
			<button aria-label="login form" class="neon-btn" ng-click="login(email, pass)" ng-hide="createMode">I love Ponies</button>
			<!-- <button class="neon-btn" ng-click="createMode = true" ng-hide="createMode">Register</button> -->
			<!-- <button class="neon-btn" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button> -->
			<!-- <button class="neon-btn" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button> -->

			<p ng-show="err" class="error">{{err}}</p>
		</form>
	</div>
</div>
