<article class="post" ng-repeat="post in posts">

	<header class="post-header">
		<img class="feature" ng-src="{{post.imgUrl}}" alt="" />
		<section class="post-info">
			<a ng-href="#/posts/{{ post.$id }}"><h2 class="post-title">{{ post.title }}</h2></a>
			<span class="post-details">
				by: <a ng-href="#/users/{{ post.creatorUID }}">{{ post.author }}</a>
			</span>
		</section>
	</header>

	<section class="post-body">

		<p> {{post.body}} </p>

		<a ng-show="authData" ng-click="deletePost(post)">delete</a>
	</section>
</article>
