

<header>
<h1>Here's whats new folks!</h1>
		<p>read my posts</p>
	</header>
	<br/>

	<div class="row">
		<div class="medium-12 columns">
			<div class="form-wrapper">
				<div ng-repeat="post in posts">
				  <a ng-href="#/posts/{{ post.$id }}">{{ post.title }}</a>
				  <br>
				  by:
				  <a ng-href="#/">{{ post.author }}</a>
				  <br>
				  <a ng-href="#/users/{{ post.creatorUID }}">
				  <br>
				  <a ng-click="deletePost(post)">delete</a>
				  <p> {{post.body}} </p>
				  <hr>
				</div>
			</div>
		</div>
	</div>
