<!-- <div class="row">
<div class="medium-8 columns">
	<h2 ng-show-auth>Welcome Home: {{user.uid}}</h2>
	<h2 ng-hide-auth>Welcome to The Night Thief</h2>

	<p class="status good" ng-show-auth>Hello! You are logged in with id {{user.uid}}.</p>
	<p class="status" ng-hide-auth>Welcome. You are not <a href="#/login">logged in</a></p>

	<input ng-model="syncedValue.$value" type="text" ng-change="syncedValue.$save()" /> <b>{{syncedValue.$value}}</b>

	<p>Open <a ng-href="{{FBURL}}/syncedValue" target="_blank">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time.</p>

</div>
</div>

<div class="row">
	<div class="large-8 large-offset-1 columns">
		<svg id="nightLines" width="100%" height="100%" viewBox="0 0 600 300" preserveAspectRatio="xMidYMid meet"></svg>
	</div>
</div> -->